!Xcursor.size: 24
XTerm*utf8: 2
xterm*locale: true
!Xcursor.theme: Neutral_Plus

xterm*selectToClipboard: true
!xterm*faceName: Liberation Mono:size=10:antialis=false
xterm*faceName: InconsolataLGC:size=11:antialias=false

!!xterm*faceNameDoublesize: Droid Sans Fallback:size=9:antialis=false
!xterm*faceName: DejaVu Sans Mono:style=Book:size=10:antialis=false
xterm*metaSendsEscape: true
xterm*renderFont: true
xterm*saveLines: 10000

!XTerm*background: #0d0c0d
xterm*background: #000
xterm*foreground: #ababa4

XTerm*vt100.translations: #override \
    Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

!XTerm*vt100*translations: #override Shift <Btn1Up>: exec-formatted("chromium '%t'", PRIMARY)
